<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="mobile-hero d-md-none">
        <img src="assets/heroes/section5-mobile-hero.jpg" alt="">
      </div>
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col">
            <div class="id">
              <div class="label">
                <p>5</p>
              </div>
            </div>
            <div class="text normal">
              <h1>Risk of Acute Exacerbations</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content">
        <div class="row justify-content-center position-relative">
          <div class="col-12">
            <div class="text copy">
              <p class="big">Chronic ILD with fibrosis may worsen because of an acute exacerbation (AE). An AE is a sudden and unpredictable worsening that can result in hospitalization and can even be fatal. The symptoms of an AE are similar for people with chronic ILD with worsening fibrosis as with people who have IPF, but
              having an AE is more common in people with IPF. It’s also important to remember that not all types of ILD have AEs.</p>
              <br/>
              <p class="big lora">During an acute exacerbation, you could experience:</p>
            </div>
          </div>
          <div class="video first col-lg-10">
            <video [muted]="true" muted autoplay playsinline loop id="video-5-1">
              <source src="assets/videos/video1.mp4" type="video/mp4">
            </video>
            <p class="label">Breathing becoming more difficult than usual</p>
          </div>
          <div class="video col-lg-10">
            <video [muted]="true" muted autoplay playsinline loop id="video-5-2">
              <source src="assets/videos/video2.mp4" type="video/mp4">
            </video>
            <p class="label">Worsening cough</p>
          </div>
          <div class="video col-lg-10">
            <video [muted]="true" muted autoplay playsinline loop id="video-5-3">
              <source src="assets/videos/video3.mp4" type="video/mp4">
            </video>
            <p class="label">Fever or flu-like symptoms</p>
          </div>
          <div class="col-12">
            <div class="text copy">
              <p class="big lora">If you experience the symptoms above, be sure to call your healthcare provider right away.</p>
              <br/>
              <p>An acute exacerbation can occur at any time during the course of the disease—from diagnosis to more advanced chronic ILD with worsening fibrosis.</p>
              <br/>
              <p>People who have an acute exacerbation may have a higher risk of another acute exacerbation. A person’s condition after an acute exacerbation can vary, but it often results in new lung damage that worsens lung function.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>