<!-- <footer class="container-fluid main-footer">
  <div class="row">
    <div class="container content">
      <div class="row">
        <div class="col-12">
          <ul>
            <li>
              <a href="http://docs.boehringer-ingelheim.com/Privacy%20Statements/BIPI%20Online%20Privacy%20Policy.htm" target="_blank">Privacy Notice</a>
            </li>
            <li>
              <a href="http://docs.boehringer-ingelheim.com/Terms%20and%20Conditions/Website%20Terms%20and%20Conditions" target="_blank">Terms of Use</a>
            </li>
            <li>
              <a href="https://www.bi-druginforequest.com/contactUsWeb/Controller.jpf?companyID=4&amp;type=2" target="_blank">Contact Us</a>
            </li>
          </ul>
          <hr>
        </div>  
      </div>
      <div class="row">
        <div class="col-12 col-md-9">
          <p class="note">Note: The physicians in the images appearing throughout this website are portrayed by actors unless otherwise noted.</p>
          <p>THIS INFORMATION IS FOR U.S. RESIDENTS ONLY. <br>COPYRIGHT © 2019. BOEHRINGER INGELHEIM PHARMACEUTICALS, INC. ALL RIGHTS RESERVED. USE OF THIS SITE IS SUBJECT TO THE INTERNET SITE LEGAL NOTICES AND DISCLAIMERS AND PRIVACY STATEMENT. 02/19 LUNGSANDYOU IS A TRADEMARK OF BOEHRINGER INGELHEIM PHARMACEUTICALS, INC.</p>
          <br/>
        </div>
        <div class="col-12 col-md-3 right">
          <a href="https://www.boehringer-ingelheim.us/" target="_blank" title="Boehringer Ingelheim">
            <img src="assets/icons/boehringer-ingelheim.svg" alt="Boehringer Ingelheim">
          </a>
          <br/><br/>
          <p class="code">PC-US-106474</p>
        </div>
      </div>
    </div>
  </div>
  <div class="addthis_inline_share_toolbox"></div>
</footer>
 -->

<footer class="main main-footer">
	<div class="container-fluid py-5 py-lg-4">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-12 order-0 col-lg-7 fs-16 fs-sm-21 fs-lg-15">
						<ul class="list-inline mb-3 mb-lg-2">
							<li class="list-inline-item">
								<a href="#">OUR MISSION</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.lungsandyou.com/support-resources/call-center">CALL CENTER</a>
							</li>
						</ul>
						<ul class="list-inline mb-3">
							<li class="list-inline-item mb-1">
								<a href="https://docs.boehringer-ingelheim.com/Privacy%20Statements/BIPI%20Online%20Privacy%20Policy.htm"
									target="_blank">PRIVACY NOTICE</a>
							</li>
							<li class="list-inline-item mb-1">
								<a href="https://docs.boehringer-ingelheim.com/Terms%20and%20Conditions/Website%20Terms%20and%20Conditions"
									target="_blank">TERMS OF USE</a>
							</li>
							<li class="list-inline-item mb-1">
								<a href="https://www.bi-druginforequest.com/contactUsWeb/Controller.jpf?companyID=4&type=2"
									target="_blank">CONTACT US</a>
							</li>
						</ul>
					</div>
					<div class="col-12 order-1 col-lg-5">
						<div class="row mt-4 mt-lg-2">
							<div class="col-6 text-lg-right">
								<a href="/">
									<img alt="Lungs&You Logo" title="Lungs&You Logo" src="./assets/main-site/logo-2.svg"
										width="100%" class="img-fluid" id="logo-lungsandyou">
								</a>
							</div>
							<div class="col-6 text-center text-lg-right">
								<a href="https://www.boehringer-ingelheim.us/" target="_blank" class="mr-0">
									<img alt="Boehringer Ingelheim Logo" title="Boehringer Ingelheim Logo"
										src="./assets/main-site/bi-logo.svg" width="100%" class="img-fluid"
										id="logo-bi">
								</a>
							</div>
						</div>
					</div>
					<div id="copyright-text"
						class="col-12 order-3 order-lg-2 col-lg-7 mt-5 mt-lg-0 text-uppercase fs-16 fs-md-21 fs-lg-12">
						<div class="text-uppercase">
							<span class="">NOTE: THE PEOPLE IN THE IMAGES THROUGHOUT THIS WEBSITE ARE PORTRAYED BY
								ACTORS UNLESS OTHERWISE NOTED.</span>
						</div>
						<div class="text-uppercase mt-3">
							<span class="">THIS INFORMATION IS FOR U.S. RESIDENTS ONLY. COPYRIGHT &copy; 2021,
								BOEHRINGER INGELHEIM PHARMACEUTICALS, INC. ALL RIGHTS RESERVED. USE OF THIS SITE IS
								SUBJECT TO THE INTERNET SITE LEGAL NOTICES AND DISCLAIMERS AND PRIVACY NOTICE. 3/21
								LUNGSANDYOU IS A TRADEMARK OF BOEHRINGER INGELHEIM PHARMACEUTICALS, INC.</span>
						</div>
					</div>
					<div class="col-12 order-2 order-lg-3 col-lg-5">
						<div class="text-lg-right small pt-4 pt-lg-0 mt-lg-n3">
							<span class="fs-16 fs-sm-21 fs-lg-12">{{jobCode}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>