/* Variables */

$persian-green: #00A192;
$mosque: #006063;
$teal: #007b7f;
$mango-tango: #E67500;
$alice-blue: #EAF9FF;
$gossamer: #44a691 ;
$matterhorn: #4D4D4D;
$zircon: #E7EEEE;
// $pattens-blue: #DDF0F7;
$zambezi: #5c5c5c;
$grey: #7c7c7c;
$eclipse: #3C3C3C;
$anakiwa: #8ED0EA;
$dark-cyan: #0C8E92;
$oslo-grey: #7b8180;
$solitude: #E8EFF7;
$pattens-blue: #CEEBF8;
$very-light-grey: #C9C7C7;
$white-smoke: #F5F5F5;

$lato-heavy: 'Lato Heavy', sand-serif;
$lato-bold: 'Lato Bold', sand-serif;
$lato: 'Lato Regular', sand-serif;
$lora: 'Lora', serif;
$klinicslab-bold: 'KlinicSlab Bold', serif;

$normal-font-size: 24px;
$normal-line-height: 36px;

$mobile-font-size: 4.2vw;
$mobile-line-height: 6.25vw;
$mobile-padding: 6.25vw;
$mobile-margin: 6.25vw;