/* Variables */

$persian-green: #00a192;
$mosque: #006063;
$teal: #007b7f;
$mango-tango: #e67500;
$alice-blue: #eaf9ff;
$gossamer: #44a691;
$matterhorn: #4d4d4d;
$zircon: #e7eeee;
// $pattens-blue: #DDF0F7;
$zambezi: #5c5c5c;
$grey: #7c7c7c;
$eclipse: #3c3c3c;
$anakiwa: #8ed0ea;
$dark-cyan: #0c8e92;
$oslo-grey: #7b8180;
$solitude: #e8eff7;
$pattens-blue: #ceebf8;
$very-light-grey: #c9c7c7;
$white-smoke: #f5f5f5;
$casal: #366374;

$lato-heavy: "Lato Heavy", sand-serif;
$lato-bold: "Lato Bold", sand-serif;
$lato: "Lato Regular", sand-serif;
$lora: "Lora", serif;
$klinicslab-bold: "KlinicSlab Bold", serif;

$normal-font-size: 24px;
$normal-line-height: 36px;

$mobile-font-size: 4.2vw;
$mobile-line-height: 6.25vw;
$mobile-padding: 6.25vw;
$mobile-margin: 6.25vw;
