<section id="how-disease-progression-affects">
  <nav class="container-fluid">
    <div class="row">
      <div class="mobile-hero d-md-none">
        <img src="assets/heroes/section4-mobile-hero.jpg" alt="">
      </div>
      <div class="container content hero-disclaimer single">
        <div class="row justify-content-center">
          <div class="title col">
            <div class="id">
              <div class="label">
                <p>4</p>
              </div>
            </div>
            <div class="text normal">
              <h1>How Disease Progression Affects the Body</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="col">
            <div class="text copy">
              <p>As scarring progresses, you may begin to feel effects on your body, including persistent symptoms like:</p>
              <br />
              <ul>
                <li>
                  <p>shortness of breath</p>
                </li>
                <li>
                  <p>a dry, hacking cough</p>
                </li>
                <li>
                  <p>rapid, shallow breathing</p>
                </li>
                <li>
                  <p>fatigue</p>
                </li>
                <li>
                  <p>gradual weight loss</p>
                </li>
                <li>
                  <p>aching muscles and joints</p>
                </li>
                <li>
                  <p>widening and rounding of the fingertips or toes</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row position-relative justify-content-center squares">
          <div class="col square left" id="square-4">
            <img src="assets/squares/image004.jpg" alt="">
          </div>
          <div class="col square" id="square-5">
            <img src="assets/squares/image005.jpg" alt="">
          </div>
          <div class="col square right" id="square-6">
            <img src="assets/squares/image006.jpg" alt="">
          </div>
          <div class="text col-md-10 green-disclaimer multiples">
            <p>Symptoms may worsen to the point that they take a toll on your <span class="nowrap">well-being—from</span> your emotional state to your ability to complete everyday tasks.</p>
          </div>
          <div class="col square left" id="square-7">
            <img src="assets/squares/image007.jpg" alt="">
          </div>
          <div class="col square" id="square-8">
            <img src="assets/squares/image008.jpg" alt="">
          </div>
          <div class="col square right" id="square-9">
            <img src="assets/squares/image009.jpg" alt="">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="quote col-md-10">
            <div class="box">
              <p>“I began having trouble doing simple things. I could shop for my groceries without any problem, but
                bringing them in the house left me huffing and puffing. I needed to rest before I could put my
                groceries away. Any type of exercise that required a little more effort caused me to lose my breath.”</p>
              <br />
              <p>&mdash; Gene<span class="small">, PERSON LIVING WITH</span><span> IPF</span><span class="small">, A COMMON TYPE OF</span><span> ILD</span></p>
            </div>
          </div>
        </div>
        <div class="row position-relative justify-content-center">
          <div class="col-12">
            <div class="text copy">
              <p>Pulmonologists will track the effect of chronic ILD with worsening fibrosis on the body with certain <a tabindex="-1" [routerLink]="" hint-data="hint-3" class="gtm-in-text-link"
                (focusout)="focusoutTooltip($event.target)" (click)="showTooltip($event.target)">tests <img src="assets/icons/button-tooltip-inline.svg" alt=""></a>, like HRCT
                scans, lung function tests such as forced vital capacity (FVC), and walking tests.</p>
              <br />
              <p>While these tests can help provide a clearer picture of how chronic ILD may be worsening, remember that one single test may not tell the whole story. <strong>Even if one test result remains the same,</strong> chronic ILD with fibrosis <strong>may still be worsening.</strong></p>
              <br />
              <p>Additionally, it’s important to understand that test results aren’t just numbers on a chart—they may help explain why you’re feeling a certain way. That’s why it’s important to talk to your healthcare provider when your symptoms change.</p>
              <br />
            </div>
          </div>
          <!-- <div class="ladder col-md-8 col-lg-6">
            <img src="assets/elements/ladder-base.png" alt="">
            <div class="ladder-steps">
              <div class="ladder-step" id="ladder-step1">
                <img src="assets/elements/ladder-step1.png" alt="">
              </div>
              <div class="ladder-step" id="ladder-step2">
                <img src="assets/elements/ladder-step2.png" alt="">
              </div>
              <div class="ladder-step" id="ladder-step3">
                <img src="assets/elements/ladder-step3.png" alt="">
              </div>
              <div class="ladder-step" id="ladder-step4">
                <img src="assets/elements/ladder-step4.png" alt="">
              </div>
            </div>
          </div> -->
          <div class="hint col-lg-9" id="hint-3">
            <div class="arrow"></div>
            <div class="box">
              <a [routerLink]="" class="tooltip-close" (click)="hideTooltip($event.target)"><img src="assets/icons/button-tooltip-close.svg" alt=""></a>
              <h4>HELPFUL HINT</h4>
              <p><strong class="mango-tango">Tests</strong> used to detect chronic ILD with worsening fibrosis include:</p>
              <ul>
                <li>HRCT scans</li>
                <li>Pulse oximetry (measured at rest and with exertion)</li>
                <li>Exercise/walking tests</li>
                <li>Spirometry (forced vital capacity [FVC]) </li>
                <li>Diffusing capacity of the lung for carbon monoxide (DLCO)</li>
                <li>Lung volume measurement (total lung capacity [TLC])</li>
                <li>Arterial blood gas testing</li>
                <li>Questionnaire, like the <i>University of California San Diego Shortness of Breath Questionnaire</i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>