<section>
  <nav class="container-fluid" alt="Understanding ILD Progression Banner" title="Understanding ILD Progression Banner">
    <div class="row">
      <div class="mobile-hero d-md-none">
        <img src="assets/heroes/mobile-understanding-ild-progression-hero.jpg" alt="Understanding ILD Progression Banner" title="Understanding ILD Progression Banner">
      </div>
      <div class="mobile-hero-base d-md-none">
        <img src="assets/heroes/mobile-hero-base.png" alt="Understanding ILD Progression Banner" title="Understanding ILD Progression Banner">
      </div>
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col">
            <div class="id">
              <div class="label">
              </div>
            </div>
            <div class="text normal">
              <h1>Understanding ILD <br />Progression</h1>
              <h3 class="scroll d-none d-lg-block">SCROLL TO<br>LEARN MORE</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container share">
        <div class="row justify-content-center position-relative">
          <div class="col-12">
            <div class="text-right copy">
              <a [routerLink]="" (click)="share('twitter')" class="gtm-social" data-label="twitter">
                <img src="./assets/main-site/twitter.svg" alt="" class="img-fluid social">
              </a>
              <a [routerLink]="" (click)="share('facebook')" class="gtm-social" data-label="facebook">
                <img src="./assets/main-site/facebook.svg" alt="" class="img-fluid social">
              </a>
              <div class="addthis_inline_share_toolbox" ng-hide="true"></div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content">
        <div class="row justify-content-center position-relative">
          <div class="col-12">
            <div class="text copy">
              <p>If you’ve been diagnosed with interstitial lung disease (ILD) or idiopathic pulmonary fibrosis (IPF), a common type of ILD, one of the most important things for you to understand about your disease is its potential to cause progressive lung scarring, which means scarring that continues to get worse over time.</p>
              <br>
              <p>By understanding ILD progression, you’ll be armed with the information you need to make important decisions about disease management, lifestyle changes, supportive needs, and palliative care. The more you know, the more empowered you’ll feel to take charge of your care.</p>
              <br>
              <p class="last">This guide can help. It will educate you about what ILD progression is, what it means for the body, and why slowing progression is so critical. Continue scrolling to learn more about ILD progression.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>