<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col-12">
            <div class="id">
              <div class="label">
                <p>1</p>
              </div>
            </div>
            <div class="text normal">
              <h1>What Is ILD Progression?</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row">
      <div class="container content">
        <div class="row position-relative justify-content-center">
          <div class="col">
            <div class="text copy">
              <p>ILD may cause scarring of the lungs (called pulmonary fibrosis) that gets worse, or progresses, over time.  You may hear this referred to as having a chronic ILD with worsening fibrosis.</p>
              <br>
              <p>Progression in chronic ILD can present itself many different ways.</p>
              <br>
              <p>Some people may notice worsening symptoms, see changes in <a tabindex="-1" [routerLink]=""
                  hint-data="hint-1" (focusout)="focusoutTooltip($event.target)" class="gtm-in-text-link"
                  (click)="showTooltip($event.target)">tests <img src="assets/icons/button-tooltip-inline.svg" alt=""></a>, like
                high-resolution computed
                tomography (HRCT) scans or lung function tests, or have to go on supplemental oxygen, while others
                may not notice any signs of progression for a long time.</p>
            </div>
          </div>
          <div tabindex class="hint col-lg-9" id="hint-1">
            <div class="arrow"></div>
            <div class="box">
              <a [routerLink]="" class="tooltip-close" (click)="hideTooltip($event.target)"><img src="assets/icons/button-tooltip-close.svg" alt=""></a>
              <h4>HELPFUL HINT</h4>
              <p><strong class="mango-tango">Tests</strong> used to detect chronic ILD with worsening fibrosis include:</p>
              <ul>
                <li>HRCT scans</li>
                <li>Pulse oximetry (measured at rest and with exertion)</li>
                <li>Exercise/walking tests</li>
                <li>Spirometry (forced vital capacity [FVC]) </li>
                <li>Diffusing capacity of the lung for carbon monoxide (DLCO)</li>
                <li>Lung volume measurement (total lung capacity [TLC])</li>
                <li>Arterial blood gas testing</li>
                <li>Questionnaire, like the <i>University of California San Diego Shortness of Breath Questionnaire</i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row justify-content-center squares">
          <div class="col square left" id="square-1">
            <img src="assets/squares/image001.jpg" alt="">
          </div>
          <div class="col square" id="square-2">
            <img src="assets/squares/image002.jpg" alt="">
          </div>
          <div class="col square right" id="square-3">
            <img src="assets/squares/image003.jpg" alt="">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <div class="text copy">
              <p>No matter how chronic ILD with worsening fibrosis affects you, <strong>it’s important to understand what’s happening inside your body so you can take action and make informed decisions about your care.</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="container-fluid">
    <div class="row">
      <div class="container content py-3 py-md-4">
        <div class="row justify-content-center callout">
          <div class="col-12 text-center mb-3 mb-md-4">
            <h3>Learn how disease progression affects the body.</h3>
          </div>
          <!-- <a href="https://www.ofev.com/about-ofev" (click)="openExternal($event.target)">Read More Here</a> -->
          <div class="col-9 col-md-7 col-lg-6">
            <a href="#how-disease-progression-affects" class="cta cta-negative gtm-cta">
              <div class="cta-container">
                <div class="cta-icon">
                  <img src="./assets/main-site/desktop-icon-standard-button-negative-read.svg" alt="">
                </div>
                <div class="cta-text-carat">
                  <div class="cta-text">
                    Read More
                  </div>
                  <div class="cta-carat"></div>
                </div>
              </div>
            </a>
          </div>
          <!-- <div class="col-9 col-md-7 col-lg-6 right mt-3 mt-md-4 mt-lg-0">
            <a href="/how-to-manage-ipf" class="cta cta-negative gtm-cta">
              <div class="cta-container">
                <div class="cta-icon">
                  <img src="./assets/main-site/desktop-icon-standard-button-negative-read.svg" alt="">
                </div>
                <div class="cta-text-carat">
                  <div class="cta-text">
                    Read about managing <br />IPF
                  </div>
                  <div class="cta-carat"></div>
                </div>
              </div>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </footer>
</section>