<section>
  <div class="container-fluid video-background" alt="How to Manage Chronic ILD with Worsening Fibrosis Banner"
    title="How to Manage Chronic ILD with Worsening Fibrosis Banner">
    <div class="row">
      <div class="video-container">
        <img src="assets/heroes/section6-mobile-hero.png" class="d-md-none" alt="">
        <video [muted]="true" muted autoplay loop playsinline id="video-background-6">
          <source src="assets/videos/section-6-hero.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
  <nav class="container-fluid">
    <div class="row">
      <div class="mobile-hero d-md-none">
        <img src="assets/heroes/section6-mobile-hero.png" alt="How to Manage Chronic ILD with Worsening Fibrosis Banner"
          title="How to Manage Chronic ILD with Worsening Fibrosis Banner">
      </div>
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col">
            <div class="id">
              <div class="label">
                <p>6</p>
              </div>
            </div>
            <div class="text normal">
              <h1>Managing Chronic ILD with Worsening Fibrosis</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="text copy">
              <p><strong>Now that you understand chronic ILD with worsening fibrosis and why it’s so serious, it’s time
                  to do something about it.</strong> There are management options available that may be able to help.
              </p>
            </div>
          </div>
          <div class="quote col-md-10">
            <div class="box">
              <p>“I stay positive and I tell myself, <em>never give up. I’m stronger than this disease.</em>”</p>
              <br />
              <p>&mdash; Kheesa<span class="small">, PERSON LIVING WITH</span><span> SCLERODERMA ASSOCIATED-ILD</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="container-fluid">
    <div class="row">
      <div class="container content py-3 py-md-4">
        <div class="row justify-content-center callout">
          <div class="col-12 text-center mb-3 mb-md-4">
            <h3>Learn about management options for chronic ILD with worsening fibrosis and IPF, <br
                class="d-none d-lg-inline-block" />a common type of ILD.</h3>
          </div>
          <div class="col-9 col-md-7 col-lg-6 left">
            <a href="/ild-progression-management" class="cta cta-negative gtm-cta">
              <div class="cta-container">
                <div class="cta-icon">
                  <img src="./assets/main-site/read-learn-icon.svg" alt="Read & Learn, Icon" title="Read & Learn, Icon">
                </div>
                <div class="cta-text-carat">
                  <div class="cta-text">
                    Read about managing chronic ILD with <br />worsening fibrosis
                  </div>
                  <div class="cta-carat"></div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-9 col-md-7 col-lg-6 right mt-3 mt-md-4 mt-lg-0">
            <a href="/ipf-progression-management" class="cta cta-negative gtm-cta">
              <div class="cta-container">
                <div class="cta-icon">
                  <img src="./assets/main-site/read-learn-icon.svg" alt="Read & Learn, Icon" title="Read & Learn, Icon">
                </div>
                <div class="cta-text-carat">
                  <div class="cta-text">
                    Read about managing <br />IPF
                  </div>
                  <div class="cta-carat"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>